Pillow
Django
django-allauth
django-cors-headers
django-environ
django-prometheus
django-redis
prometheus_client
psycopg2
PyJWT
python-dotenv
redis
requests
requests-oauthlib
six
sqlparse
tzdata
urllib3
Werkzeug
django_filter
